@model IEnumerable<MVCTravelExpert00.Models.OrderHistoryModel>
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order History</h2>

<div class="container-fluid py-4">
    <h3 class="text-center text-uppercase">Welcome ! @Model.First().customer.CustFirstName @Model.First().customer.CustLastName </h3>
    <h4 class="text-center text-uppercase">Packages</h4>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Package Name</th>
                <th>Package Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Base Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*@if (@item.customer != null)
                        {
                            <td>@item.customer.CustFirstName</td>
                        }*@
                    @if (@item.package != null)
                    {
                        <td>@item.package.PkgName</td>
                        <td>@item.package.PkgStartDate</td>
                        <td>@item.package.PkgEndDate</td>
                        <td>@item.package.PkgDesc</td>
                        <td>@item.package.PkgBasePrice</td>
                    }

                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Total Base Price</td>
                <td>@Model.Sum(i => (i.package != null) ? i.package.PkgBasePrice : 0)</td>
            </tr>
</tfoot>
    </table>
    <h3>Bookings</h3>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Booking Date</th>
                <th>Booking No</th>
                <th>Traveler Count</th>
                <th>Trip Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (item.booking != null)
                {
                    <td>@item.booking.BookingDate</td>
                    <td>@item.booking.BookingNo</td>
                    <td>@item.booking.TravelerCount</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
                @if (item.tripType != null)
                {
                    <td>@item.tripType.TTName</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            }
        </tbody>
    </table>

    <h3>Booking Detail</h3>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Itinerary No</th>
                <th>Trip Start</th>
                <th>Trip End</th>
                <th>Description</th>
                <th>Destination</th>
                <th>Base Price</th>

                <th>Region Name</th>
                <th>Class Name</th>
                <th>Class Description</th>
                <th>Fee Name</th>
                <th>Fee Description</th>
                <th>Fee Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (item.bookingdetail != null)
                {
                    <td>@item.bookingdetail.ItineraryNo</td>
                    <td>@item.bookingdetail.TripStart</td>
                    <td>@item.bookingdetail.TripEnd</td>
                    <td>@item.bookingdetail.Description</td>
                    <td>@item.bookingdetail.Destination</td>
                    <td>@item.bookingdetail.BasePrice</td>

                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
                @if (item.region != null)
                {
                    <td>@item.region.RegionName</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.pdclass != null)
                {
                    <td>@item.pdclass.ClassName</td>
                    <td>@item.pdclass.ClassDesc</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                @if (item.fee != null)
                {
                    <td>@item.fee.FeeName</td>
                    <td>@item.fee.FeeDesc</td>
                    <td>@item.fee.FeeAmt</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
            }
        </tbody>
        <tfoot>
            @*@foreach (var item in Model)
            {
                @if (@item.bookingdetail != null)
                {
                    @item.TotalBasePrice+= item.bookingdetail.BasePrice
                }
            }*@
            <tr>
                <td>Summary</td>
                <td colspan="4">Total Base Price</td>
                <td>@Model.Sum(i => (i.bookingdetail != null) ? i.bookingdetail.BasePrice : 0)</td>
                <td colspan="5"> Total Fee</td>
                <td>@Model.Sum(i => (i.fee != null) ? i.fee.FeeAmt : 0)</td>
            </tr>

</tfoot>
    </table>



   

</div>  